@model AynaCoffee.Areas.Admin.ViewModels.UserEditViewModel

@{
    ViewBag.Title = "Kullanıcı Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kullanıcı Düzenle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Account" asp-action="ListUsers">Kullanıcıları Görüntüle</a></li>
                        <li class="breadcrumb-item active">Kullanıcı Düzenle</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <section class="content">
                <div class="container-fluid">
                    <form asp-controller="Account" asp-action="EditUser" method="post" class="form-group">
                        <input asp-for="Id" type="hidden" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Kullanıcı Bilgileri</h3>
                                    </div>
                                    <div asp-validation-summary="All" class="text-danger mt-20"></div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="Email">E-Posta Adresi:</label>
                                            <input asp-for="Email" type="email" class="form-control form-control-border border-width-2" placeholder="E-Posta Adresi" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="UserName">Kullanıcı Adı:</label>
                                            <input asp-for="UserName" type="text" class="form-control form-control-border border-width-2" placeholder="Kullanıcı Adı" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Şifre:</label>
                                            <input asp-for="Password" type="password" class="form-control form-control-border border-width-2" placeholder="Şifre" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-block btn-outline-info">Kullanıcı Güncelle</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>
</div>

