@model AynaCoffee.Areas.Admin.ViewModels.ContactUsViewModel
<div class="container m-t-10">
    <div class="row justify-content-center mb-2 pb-2">
        <div class="col-md-12 text-center heading-section ftco-animate">
            <h2 class="mb-4 m-t-20">Bize Ulaşın</h2>
        </div>
    </div>
    <div class="row d-flex contact-info">
        <div class="w-100 m-t-50"></div>
        <div class="col-md-4 text-center m-b-10">
            <i class="fas fa-map-marker-alt fa-2x text-black"></i>
            <div class="dbox">
                <a href="https://www.google.com/maps/dir//G%C3%B6ztepe,+The+Ayna+Coffee,+Melek+Apartman,+Cadde+Bostan+Mahallesi,+Prof.+Mustafa+Re%C5%9Fit+Belgesay+Sk.+No:28%2FA,+34728+Kad%C4%B1k%C3%B6y%2F%C4%B0stanbul/@@40.9728785,29.0603671,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x14cac77573e5526b:0x65adad99e043f2b2!2m2!1d29.0625558!2d40.9728745!3e0">Göztepe, Melek Apartman, Cadde Bostan Mahallesi, Prof. Mustafa Reşit Belgesay Sk. No:28/A, 34728 Kadıköy/İstanbul</a>
            </div>
        </div>
        <div class="col-md-4 text-center m-b-10">
            <i class="fas fa-phone fa-2x text-black"></i>
            <div class="dbox">
                <p><a href="tel:05336653684">0533 665 3684</a></p>
            </div>
        </div>
        <div class="col-md-4 text-center m-b-10">
            <i class="fas fa-envelope fa-2x text-black"></i>
            <div class="dbox">
                <p><a href="mailto:alev@aynacoffee.com">alev@aynacoffee.com</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-0">
    <div class="row d-flex no-gutters">
        <div class="col-md-12 ftco-animate makereservation p-4 p-md-5 pt-5 pt-md-0">
            <div class="container">
                <div class="row d-flex align-items-stretch no-gutters">
                    <div class="col-md-12 p-5 order-md-last">
                        <h2 class="h4 mb-5 font-weight-bold">Bize Ulaşın</h2>
                        <form asp-controller="Home" asp-action="Contact" method="post">
                            <div class="form-group">
                                <input asp-for="Name" type="text" class="form-control" placeholder="İsim" required>
                            </div>
                            <div class="form-group">
                                <input asp-for="Surname" type="text" class="form-control" placeholder="Soy İsim" required>
                            </div>
                            <div class="form-group">
                                <input asp-for="Email" type="email" class="form-control" placeholder="E-Posta" required>
                            </div>
                            <div class="form-group">
                                <textarea asp-for="Messages" cols="30" rows="7" class="form-control" placeholder="Mesajınız" required></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
